
{% extends 'base.html' %}

{% load static %}

{% block title %}
Search Result
{% endblock title %}

{% block content %}
<div class="container">
    <h3 class="heading font-weight-light">Here are your contacts</h3>
    {{contacts}}
    <hr />
</div>
  <div class="container main-part">

  {% if  contacts %}

  {% for contact in contacts%}
  
  {% if  contact.gender == 'male' %}
    <!-- Card for details -->
    {% comment %} male card start {% endcomment %}
    <div class="card my-2 mx-2 boy-card">
      <img src="{% if contact.image %}
      {{contact.image.url}}
      {% else %}
      {% static 'images/boy.png'%}
      {% endif %}" class="img-fluid" />
      <div class="card-header">
        <a href="detail.html" class="text-white header-link"
          ><i class="fas fa-mars mr-2"></i> {{contact.name}} </a
        >
      </div>
      <div class="card-body pb-0">
        <p>
          <i class="fas fa-at mr-2"></i>
          <a href="mailto:{{contact.email}}">{{contact.email}}</a>
        </p>
        <p>
          <i class="fas fa-phone mr-2"></i>
          <a href="tel:{{contact.number}}">{{contact.phone}}</a>
        </p>
        <p><i class="fas fa-info-circle mr-2"></i> {{contact.info}}</p>
      </div>
    </div>
    {% comment %} male card ends {% endcomment %}
    <!-- Card for details ends -->
  {% else %}
  {% comment %} card for girls starts{% endcomment %}
      <div class="card my-2 mx-2 boy-card">
      <img src="{% static 'images/girl.png'%}" class="img-fluid" />
      <div class="card-header">
        <a href="detail.html" class="text-white header-link"
          ><i class="fas fa-mars mr-2"></i> {{contact.name}} </a
        >
      </div>
      <div class="card-body pb-0">
        <p>
          <i class="fas fa-at mr-2"></i>
          <a href="mailto:{{contact.email}}">{{contact.email}}</a>
        </p>
        <p>
          <i class="fas fa-phone mr-2"></i>
          <a href="tel:{{contact.number}}">{{contact.phone}}</a>
        </p>
        <p><i class="fas fa-info-circle mr-2"></i> {{contact.info}}</p>
      </div>
    </div>
  {% comment %} card for girls ends {% endcomment %}
  {% endif %}

  {% endfor %}
  {% else %}
  <p>No contacts</p>
  {% endif %}
    
</div>
    
{% endblock content %}
